<nav class="nav nav-pills bg-primary header" >
  <ul class="nav nav-tabs" style="padding-left: 0.8rem;">
    &nbsp; &nbsp; <a class="text-white fw-bold fs-2 text-decoration-none my-2" routerLink="/" >HOME</a>
    &nbsp;
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle my-3 "  data-bs-toggle="dropdown"  role="button"
          aria-expanded="false">Clientes</a>
      <ul class="dropdown-menu">  
          <li><a class="dropdown-item" routerLink="/clientes">Clientes</a></li>
         <!--  <li><a class="dropdown-item" href="#">Clientes con compras <br /> mayor a 100.000</a></li>
          <li><a class="dropdown-item" href="#">Clientes con más de <br /> 1 mantenimiento</a></li> -->
      </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link active dropdown-toggle my-3 " data-bs-toggle="dropdown" role="button"
        aria-expanded="false">Mecánicos</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/mecanicos">Mecánicos</a></li>
    </ul>
</li>
  <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle my-3 " data-bs-toggle="dropdown" role="button"
          aria-expanded="false">Productos</a>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/productos">Productos</a></li>
         <!-- <li><a class="dropdown-item" href="#">Productos más vendidos</a></li> -->
      </ul>
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle my-3 " data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Tiendas</a>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/tiendas">Tiendas</a></li>
         <!-- <li><a class="dropdown-item" href="#">Inventario</a></li>
          <li><a class="dropdown-item" href="#">Tiendas que han vendido <br /> más de 100 unidades</a></li> -->
      </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link active my-3 " >Programar Mantenimiento</a>
</li>
</ul>
</nav>  


   

