<div><button class="btn btn-rounded btn-success" type="button" routerLink="/clientes">Atrás</button></div>
<br/>
<h1 class="container">Tiendas</h1>
<br/>
<div class=" container">
    <div class="nav justify-content-center">
        <br />
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de la Tienda</th>
                    <th scope="col">Dirección</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let store of stores">
                    <td>{{ store.id_tiendas }} </td>
                    <td>{{ store.nombre | uppercase }} </td>
                    <td>{{ store.direccion | uppercase }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>